<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find m100_simulation)/simulation/urdf/quadrotor.urdf.xacro" />
    <xacro:include filename="$(find hector_quadrotor_gazebo)/urdf/quadrotor_plugins.gazebo.xacro" />

    <!-- Real Sense -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
    <xacro:sensor_d435 name="camera" topics_ns="$(arg prefix)/camera" parent="base_link" publish_pointcloud="true">
        <origin xyz="0.05 0 -0.05" rpy="0 0 0" />
    </xacro:sensor_d435> 

    <!-- Ouster -->
    <xacro:include filename="$(find ouster_os1_64)/urdf/os1_64.urdf.xacro"/>
    <xacro:os1_64 parent="base" name="ouster" prefix="os1_cloud_node" hz="10" samples="1024" gpu="true" reduced="true" min_range="0.8">
        <origin xyz="0.0 0 0.14" rpy="0 0 0" />
    </xacro:os1_64>
</robot>

