<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find m100_simulation)/simulation/urdf/quadrotor.urdf.xacro" />
    <xacro:include filename="$(find hector_quadrotor_gazebo)/urdf/quadrotor_plugins.gazebo.xacro" />

    <!-- Ouster -->
    <xacro:include filename="$(find ouster_os1_64)/urdf/os1_64.urdf.xacro"/>
    <xacro:os1_64 parent="base_link" name="ouster" prefix="os1_cloud_node" hz="10" samples="512" gpu="true" 
            reduced="false" min_range="0.09" min_angle_v="-45" max_angle_v="45"
            min_angle_h="-180.0" max_angle_h="180.0" noise="0.0000000000000001">
        <origin xyz="0.0 0 0.14" rpy="0 0 0"/> 
    </xacro:os1_64>

</robot>

